body {
    background-color: Aqua;
}

h1 {
    font-size: 200px;
    background-color: DeepSkyBlue;
    color: white;
}

table, th, td {
    border: 1px solid black;
    width: 100%;
}

.done {
    background-color: #c1c0d338;
}

.not-done{
    background-color: #F0F8FF;
}